<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Test Document</title>
    <style>
      p {
        text-align: center;
        font-size: 12;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgb(37, 7, 229);
      }
    </style>
  </head>

  <body>
    <p>
      <h1>Hello World</h1>
      <p>I was generated from a dynamic Handlebars template file</p>
      <p>
        Hello, my name is{{name}}. 
        I am from {{location}}. 
        I am working with {{tool}}!
      </p>
  </body>

</html>